.nav {
    background-color: #05102D;
    text-align:center;
    padding:50px;

}
.nav img {
    max-width: 650px;
    padding: 25px;
}
.form-inline .form-control {
    width:50%;
}
.submitSearch{
    background-color: white;
    color: #05102D;
    border-radius: 5px;
    font-size: 18px;
    height: 34px;
    margin-left: 25px;


}
