.Card{
    padding-right: 0px;
    padding-left: 0px;
    border-radius: 10px;
    box-shadow: 0 2px 19px 4px rgba(0, 0, 0, 0.14);
    margin-bottom: 20px;
    margin-top: 20px;
}

.Stat{
    margin-top: 25px;
}