.product-card{
    background-color: white;
    padding-right: 0px;
    padding-left: 0px;
    border-radius: 10px;
    box-shadow: 0 2px 19px 4px rgba(0, 0, 0, 0.14);
    margin-bottom: 20px;
    margin-top: 24px;
    opacity: 1.0;
    width: 40%;
    margin-left: 7%;
}
#searchRes{
    background-color: white;
}
#searchRes h3{
    margin-top: 0px;
}
.search-image{
    text-align: center;
    background-color: transparent;
}
.product-card img{
    max-height: 350px;
    border-radius: 10px;
}

.Stat{
    margin-top: 25px;
}

.search-bar {
    background-color: white !important;
}

.fa {
    padding: 10px;
}
@media only screen and (min-width: 300px) and (max-width: 587px) {
    .search-image{
        background-color: transparent !important;
    }
    .product-card img{
        max-height: 220px;
        border-radius: 10px;
    }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .product-card img{
        max-height: 220px;
        border-radius: 10px;
    }
}
 
 @media only screen and (min-width: 992px) and (max-width: 1190px) {
    .product-card img{
        max-height: 300px;
        border-radius: 10px;
    }
}