.product-card{
    background-color: white;
    padding-right: 0px;
    padding-left: 0px;
    border-radius: 10px;
    box-shadow: 0 2px 19px 4px rgba(0, 0, 0, 0.14);
    margin-bottom: 20px;
    margin-top: 24px;
    opacity: 1.0;
    width: 40%;
    margin-left: 7%;
}

.Stat{
    margin-top: 25px;
}

.search-bar {
    background-color: white !important;
}

.fa {
    padding: 10px;
}